* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    width: 200px;
    height: 50px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    line-height: 100%;
}

.header {
    height: 80px;
    width: 100%;
    background-color: lightblue;
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-left,
    .filters {
        flex-basis: 50%;
    }
    &-left {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .logo {
            margin-left: 40px;
        }
    }
    &-menu {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            display: block;
            width: 20px;
            height: 4px;
            background-color: #000;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 8px;
                display: block;
                width: 20px;
                height: 4px;
                background-color: #000;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: 8px;
                display: block;
                width: 20px;
                height: 4px;
                background-color: #000;
            }
        }
    }
    .filters {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .filter {
            text-decoration: none;
            color: #000;
            display: block;
            margin-right: 20px;
            font-size: 24px;
            background-color: red;
            padding: 10px;
            border-radius: 20px;
        }
    }
}

.map {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    background-color: royalblue;
    width: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        max-width: 300px;
        width: 100%;
        height: auto;
    }
    &-title {
        font-size: 25px;
        margin-bottom: 10px;
    }
    &-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &-figure {
        font-size: 20px;
        width: 45px;
        text-decoration: underline;
        margin-bottom: 10px;
    }
    &-text {
        font-size: 16px;
    }
}

.footer {
    width: 100%;
    background-color: lightblue;
    padding: 30px 10px;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-text {
        display: block;
        max-width: 700px;
        height: auto;
    }
}